@page
@model Razor_Converter.Pages.ConverterModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorial Example</title>
</head>
<body>
    <h1>Форма для конвертирования</h1>
    <!-- форма вычисления конвертации -->
    @*
    Тонна — 106 (1 000 000) граммов, или 1000 килограммов.
    Центнер — 105 (100 000) граммов, или 100 килограммов.
    Карат — 0,2 грамма.
    Шекель = 14 г
    фунт — 453,59237 г (точное и официальное значение)
    *@
    <form method="post" action="Converter">
        <label for="Value">Значение выпадающего списка </label>
        <input id="Value" name="number" type="number" min="0" value="@Model.numberSel" />
        <select name="numberSel">
            <option value="">Конвертация из грамм</option>
            <option value="Тонна">Тонна</option>
            <option value="Центнер">Центнер</option>
            <option value="Карат">Карат</option>
            <option value="Шекель">Шекель</option>
            <option value="Фунт">Фунт</option>
        </select>
        <button>Посчитать</button>
        <p></p>

    </form>
 
    <!-- вывод ответа -->
    @if (Model.Value != null || Model.Value2 != null || Model.Value3 != null ||
    Model.Value4 != null || Model.Value5 != null)
    {
        <p>Тонна: @Model.Value</p>
        <p>Центнер: @Model.Value2</p>
        <p>Карат: @Model.Value3</p>
        <p>Шекель: @Model.Value4</p>
        <p>Фунт: @Model.Value5</p>
        <option value="numberSel"></option>
    }
</body>
